Repository Magiczne/AdventOfCode: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, tsc --noEmit

2024 Day 21
  2024/d20/index.ts
  2024/d21/index.ts
  2024/d21/input.txt
  2024/d21/test-runs/0.txt
  ts-core/math/direction.ts
Due: prettier --write, tsc --noEmit

2024 Day 20 part 2
  2024/d20/index.ts
  ts-core/math/vec2.ts
Due: prettier --write, tsc --noEmit

update readme
  README.md
Due: none

2024 Day 22
  2024/d22/index.ts
  2024/d22/input.txt
  2024/d22/test-runs/0.txt
  README.md
  ts-core/array/adjacent-diff.ts
  ts-core/array/index-of-all.ts
  ts-core/array/index.ts
Due: prettier --write, tsc --noEmit

2024 Day 23
  2024/d23/index.ts
  2024/d23/input.txt
  2024/d23/test-runs/0.txt
  README.md
  ts-core/aoc/run-examples.ts
  ts-core/aoc/run-solution.ts
Due: prettier --write, tsc --noEmit

2024 Day 24
  2024/d24/gv.dot
  2024/d24/index.ts
  2024/d24/input.dot
  2024/d24/input.txt
  2024/d24/test-runs/0.txt
  2024/d24/test-runs/1.txt
Due: prettier --write, tsc --noEmit

2024 Day 25
  2024/d25/index.ts
  2024/d25/input.txt
  2024/d25/test-runs/0.txt
  2024/package.json
  README.md
  ts-core/matrix/index.ts
  ts-core/matrix/rotate-clockwise.ts
  ts-core/matrix/rotate-counter-clockwise.ts
  yarn.lock
Due: prettier --write, tsc --noEmit

matrix utility
  2024/d04/index.ts
  2024/d14/index.ts
  2024/d15/index.ts
  2024/d16/index.ts
  2024/d25/index.ts
  ts-core/matrix/print-matrix.ts
  ts-core/structures/index.ts
  ts-core/structures/matrix.ts
Due: prettier --write, tsc --noEmit

matrix utility
  2024/d04/index.ts
  2024/d08/index.ts
  2024/index.ts
  ts-core/structures/matrix.ts
Due: prettier --write, tsc --noEmit

cleanup, run all script for 2024
  2024/d01/index.ts
  2024/d02/index.ts
  2024/d03/index.ts
  2024/d05/index.ts
  2024/d06/index.ts
  2024/d07/index.ts
  2024/d09/index.ts
  2024/d10/index.ts
  2024/d11/index.ts
  2024/d12/index.ts
  2024/d13/index.ts
  2024/d14/index.ts
  2024/d15/index.ts
  2024/d20/index.ts
  2024/index.ts
  package.json
  ts-core/aoc/run-examples.ts
  ts-core/aoc/run-solution.ts
  ts-core/aoc/util.ts
  ts-core/tsconfig.json
  tsconfig.json
  tsconfig/package.json
  tsconfig/tsconfig.json
  yarn.lock
Due: prettier --write, tsc --noEmit

cleanup
  .gitignore
  .lintstagedrc.json
Due: prettier --write

back to elixir once again
  2021/.formatter.exs
  2021/.gitignore
  2021/d01/main.ex
  2021/d02/main.ex
  2021/d03/main.ex
  2021/framework/framework.ex
  2021/index.ts
  2021/mix.exs
Due: prettier --write, tsc --noEmit

partially migrate 2022 to framework
  2022/d13/index.ts
  2022/d13/input.txt
  2022/d13/test-runs/0.txt
  2022/d14/index.ts
  2022/d14/input.txt
  2022/d14/test-runs/0.txt
  2022/d15/index.ts
  2022/d15/input.txt
  2022/d15/test-runs/0.txt
  2022/d16/index.ts
  2022/d16/input.txt
  2022/d16/test-runs/0.txt
  2022/d17/index.ts
  2022/d17/input.txt
  2022/d17/test-runs/0.txt
  2022/d18/index.ts
  2022/d18/input.txt
  2022/d18/test-runs/0.txt
  2022/d20/index.ts
  2022/d20/input.txt
  2022/d20/test-runs/0.txt
  2022/d21/index.ts
  2022/d21/input.txt
  2022/d21/test-runs/0.txt
  2022/index.ts
  2022/tsconfig.json
  ts-core/aoc/run-all.ts
Due: prettier --write, tsc --noEmit

2017 file structure
  2017/d01/input.txt
  2017/d01/main.py
  2017/d02/input.txt
  2017/d02/main.py
  2017/d03/main.py
  2017/d04/input.txt
  2017/d04/main.py
  2017/d05/input.txt
  2017/d05/main.py
  2017/d06/input.txt
  2017/d06/main.py
  2017/d07/Graph.py
  2017/d07/Node.py
  2017/d07/input.txt
  2017/d07/main.py
  2017/d07/test-runs/0.txt
  2017/d08/input.txt
  2017/d08/main.py
  2017/d09/input.txt
  2017/d09/main.py
  2017/d10/input.txt
  2017/d10/main.py
  2017/d11/input.txt
  2017/d11/main.py
  2017/d12/input.txt
  2017/d12/main.py
Due: none

2017 python migrated to framework
  .gitignore
  .lintstagedrc.json
  2017/d01/main.py
  2017/d02/main.py
  2017/d03/input.txt
  2017/d03/main.py
  2017/d04/main.py
  2017/d05/main.py
  2017/d06/main.py
  2017/d07/Graph.py
  2017/d07/Node.py
  2017/d07/main.py
  2017/d08/main.py
  2017/d09/main.py
  2017/d10/main.py
  2017/d11/main.py
  2017/d12/main.py
  2017/index.ts
  2017/package.json
  2017/pyproject.toml
  2017/requirements.txt
  2017/util/__init__.py
  2017/util/aoc/__init__.py
  2021/d04/main.ex
  2021/index.ts
  2023/index.ts
  2024/index.ts
  2024/package.json
  package.json
  ts-core/aoc/run-all.ts
  turbo/generators/config.ts
  turbo/generators/templates/python/input.txt
  turbo/generators/templates/python/main.py.hbs
  turbo/generators/templates/python/test-runs/0.txt
  yarn.lock
Due: prettier --write, tsc --noEmit

migrated 2016 c# to framework
  2016/Util/Aoc/Printer.cs
  2016/Util/Extensions/IEnumerableExtensions.cs
  2016/d06/Program.cs
  2016/d07/IpAddressV7.cs
  2016/d07/Program.cs
  2016/d07/StringExtensions.cs
  2016/d08/Extensions.cs
  2016/d08/Program.cs
  2016/d08/Solution.Command.cs
  2016/d08/Solution.cs
  2016/d09/Program.cs
  2016/d10/Bot.cs
  2016/d10/Program.cs
  2016/d10/Solution.cs
  2016/d12/12.csproj
  2016/d12/Command.cs
  2016/d12/Program.cs
  2016/d12/Solution.cs
  2016/d13/Program.cs
  2016/d13/input.txt
  2016/d14/Program.cs
  2016/d14/Util.cs
  2016/d14/input.txt
Due: none

python cleanup
  2017/d05/main.py
  2017/d07/Graph.py
  2017/d07/Node.py
  2017/d07/main.py
  2017/d08/main.py
  2017/d10/main.py
  2017/d11/main.py
  2017/d12/main.py
  turbo/generators/templates/python/main.py.hbs
Due: none

2017 Day 14
  2017/d14/input.txt
  2017/d14/main.py
  2017/d14/test-runs/0.txt
  2017/util/list/__init__.py
Due: none

2017 Day 15
  2017/d15/input.txt
  2017/d15/main.py
  2017/d15/test-runs/0.txt
  2017/d15/test.py
  2017/index.ts
  2017/requirements.txt
  turbo/generators/templates/python/main.py.hbs
Due: prettier --write, tsc --noEmit

2017 Day 16
  2017/d15/test.py
  2017/d16/input.txt
  2017/d16/main.py
  2017/d16/test-runs/0.txt
Due: none

2017 Day 13
  2017/d13/input.txt
  2017/d13/main.py
  2017/d13/test-runs/0.txt
Due: none

2017 Day 17
  2017/d17/input.txt
  2017/d17/main.py
  2017/d17/test-runs/0.txt
Due: none

2017 Day 18
  2017/d18/cpu.py
  2017/d18/input.txt
  2017/d18/instruction.py
  2017/d18/main.py
  2017/d18/test-runs/0.txt
  2017/d18/test-runs/1.txt
Due: none

2017 Day 19
  2017/d19/input.txt
  2017/d19/main.py
  2017/d19/test-runs/0.txt
  2017/d19/test.py
Due: none

2017 Day 20
  2017/d20/input.txt
  2017/d20/main.py
  2017/d20/particle.py
  2017/d20/test-runs/0.txt
  2017/d20/test-runs/1.txt
  2017/util/math/__init__.py
Due: none

separate data copies for part1 and part2 to avoid stupid as hell bugs
  2015/util/aoc.go
  2017/util/aoc/__init__.py
  2021/framework/framework.ex
  ts-core/aoc/run-examples.ts
  ts-core/aoc/run-solution.ts
Due: prettier --write, tsc --noEmit

bumps
  .gitignore
  2022/package.json
  2023/package.json
  2024/package.json
  package.json
  yarn.lock
Due: prettier --write

bumps
  2022/package.json
  2023/package.json
  2024/package.json
  package.json
  yarn.lock
Due: prettier --write

setup 2025
  2025/index.ts
  2025/package.json
  2025/tsconfig.json
  package.json
  yarn.lock
Due: prettier --write, tsc --noEmit

fix generator
  turbo/generators/config.ts
Due: prettier --write, tsc --noEmit

reference
  tsconfig.json
Due: prettier --write

2025 Day 01
  2025/d01/index.ts
  2025/d01/input.txt
  2025/d01/test-runs/0.txt
  2025/d01/test-runs/1.txt
  2025/package.json
  yarn.lock
Due: prettier --write, tsc --noEmit

Day 01 simplification
  2025/d01/index.ts
Due: prettier --write, tsc --noEmit

Path conditions:
  prettier --write: (any of: *.json) or (any of: *.ts)
  tsc --noEmit: any of: *.ts
